h1 {
  text-align: center;
  margin: 0 auto;
  font-family: Iceland;
  font-size: 78px;
  font-weight: 400;
  line-height: 150px;
  color: var(--color-grey-2);
}

.gallery {
  margin: 100px auto;
  width: 80%;
}

.photo {
  width: 100%;
  margin-bottom: 50px;
}

.photo img {
  width: 600px;
  height: 300px;
}

.photo-left {
  text-align: end;
}

.photo-right {
  text-align: start;
}

@media (min-width: 1199px) and (max-width: 1240px) {
  .photo img {
    width: 550px;
    height: 250px;
  }

  .gallery {
    margin: 50px auto;
    width: 80vw;
  }
}

@media (min-width: 897px) and (max-width: 1199px) {
  [data-aos][data-aos][data-aos-easing="ease"],
  body[data-aos-easing="ease"] [data-aos] {
    transition-timing-function: ease;
    width: 80%;
    margin: 30px auto;
  }

  h1 {
    font-size: 55px;
  }

  .photo img {
    width: 350px;
    height: 220px;
  }

  .gallery {
    margin: 50px auto;
    width: 100vw;
  }

  .photo {
    width: 80%;
    margin-bottom: 50px;
  }
}
