/* CONFIGURAÇÕES GERAIS */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
}

/* TELA 01 */

.home {
  height: 900px;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

header > figure > img {
  height: 144px;
  width: 254px;
}

nav {
  width: 70%;
}

nav > ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul > li > a {
  color: var(--color-grey-2);
  font-family: Iceland;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}

ul > li > a:hover {
  font-weight: 600;
}

main {
  width: 80vw;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  width: 668px;
  font-family: Iceland;
  font-size: 92px;
  font-weight: 400;
  line-height: 89px;
  text-align: left;
  color: var(--color-grey-2);
}

main > p {
  width: 506px;
  font-family: Actor;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: var(--text-color-1);
}

button {
  height: 46px;
  width: 180px;
  left: 5002px;
  top: 23px;
  font-family: Iceland;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-grey-2);
}

button a {
  color: var(--color-grey-2);
}

button:hover {
  font-weight: 600;
}

.flex-btn {
  display: flex;
}

.btn-active,
.active {
  background-color: var(--color-secondary);
  margin: 10px;
}

.active:hover {
  border: 2px solid var(--color-grey-2);
}

.btn-inactive,
.inactive {
  background-color: var(--color-grey-1);
  margin: 10px;
}

.inactive:hover {
  border: 2px solid var(--color-grey-2);
}

main > section {
  margin-top: 100px;
}

.flex-column > ul > li > img {
  position: absolute;
}

.flex-column > ul > li > p {
  position: relative;
  text-align: center;
  padding-top: 20%;
  font-size: 22px;
  color: var(--text-color-1);
}

h3 {
  height: 65px;
  width: 336px;
  font-family: Iceland;
  font-size: 26px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--color-grey-2);
}

section > ul {
  width: 800px;
}

section > ul > li {
  height: 139px;
  width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

/* TELA 02 */

.mobile-display {
  display: none;
}

.episodes {
  height: 900px;
  background-image: url("../images/backgroundEpisodes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.posts {
  height: 546px;
  width: 479px;
  margin-top: 80px;
  padding: 5px;
  text-align: left;
}

.posts > p {
  color: var(--text-color-1);
  font-family: Iceland;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 20px;
  width: 95%;
}

.episodes-list {
  height: 762px;
  width: 671px;
  margin: 0 auto;
  overflow: auto;
}

.card {
  height: 182px;
  width: 650px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  background-color: var(--color-grey-3);
}

/* width */
.episodes-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.episodes-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-grey-1);
  border-radius: 10px;
}

/* Handle */
.episodes-list::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

/* Handle on hover */
.episodes-list::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
.card > img {
  height: 120px;
  width: 250px;
  border-radius: 12px;
  opacity: 0.7;
}

.card > img:hover {
  transform: scale(1.1);
  transition: 500ms linear;
  opacity: 1;
}

.card-text {
  width: 60%;
  height: 80%;
  margin: 20px;
}

/*EPISODES*/
.card-text > h4 {
  height: 30px;
  font-family: Darker Grotesque;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--color-grey-2);
}

.card-text > p {
  height: 88px;
  width: 324px;
  left: 5690px;
  top: 639px;
  border-radius: nullpx;
  font-family: Darker Grotesque;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-grey-2);
}

/* TELA 03 */

footer {
  height: 377px;
  background: linear-gradient(180deg, #000000 0%, #950202 289.06%);
}

footer > figure > img {
  height: 140px;
  width: 140px;
}

.container > section > h2 {
  height: 47px;
  width: 668px;
  left: 5446px;
  font-family: Iceland;
  font-size: 48px;
  font-weight: 400;
  line-height: 47px;
  text-align: left;
  color: var(--color-grey-2);
}

.container > section > h3 {
  height: 31px;
  width: 449px;
  font-family: Iceland;
  font-size: 32px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  color: var(--color-grey-2);
  margin: 0 auto;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

@media (min-width: 1330px) and (max-width: 1500px) {
  .episodes {
    background-position: left;
  }

  .posts > p {
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
    width: 80%;
  }

  .card {
    width: 100%;
  }

  .card-text {
    width: 100%;
    height: 80%;
    margin: 0;
  }

  .card-text > p {
    height: 88px;
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
  }

  .card-text > h4 {
    padding-left: 20px;
  }

  .episodes-list {
    overflow-x: hidden;
    width: 700px;
  }
}

@media (min-width: 1000px) and (max-width: 1329px) {
  .episodes {
    background-position: left;
  }

  header > figure > img {
    height: 124px;
    width: 184px;
  }

  nav > ul {
    width: 100%;
    justify-content: space-around;
  }

  h1 {
    font-size: 78px;
  }

  main > p {
    font-size: 20px;
  }
  button {
    height: 36px;
    width: 160px;
  }

  section > ul {
    width: 600px;
  }

  .flex-column > ul > li {
    margin-right: 20px;
  }

  .flex-column > ul > li > img {
    width: 200px;
  }

  .flex-column > ul > li > p {
    font-size: 15px;
    width: 200px;
    margin: 0;
  }

  .episodes {
    background-size: cover;
  }

  .posts > p {
    font-size: 20px;
    padding: 0 40px 0 0;
    width: 120%;
  }

  .card {
    width: 70%;
  }

  .card-text {
    width: 60%;
    height: 70%;
    margin: 0;
  }

  .card > img {
    height: 100px;
    width: 200px;
    border-radius: 12px;
    opacity: 0.7;
  }

  .card-text > p {
    height: 90px;
    width: 140%;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
  }

  .card-text > h4 {
    padding-left: 20px;
    font-size: 18px;
    width: 120%;
  }

  .episodes-list {
    overflow-x: hidden;
    height: 600px;
    width: 651px;
  }

  .container > section > h2 {
    font-size: 65px;
    text-align: left;
    width: 100%;
    padding: 0 0 80px 0;
  }
  footer .container > section > h2 {
    font-size: 32px;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .container > section > h3 {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .episodes .container,
  .container,
  .flex {
    width: 90vw;
  }

  .flex-column .flex {
    width: 0;
  }

  .flex-column {
    width: 70%;
  }

  figure > img {
    width: 100%;
  }

  footer > .container.flex {
    flex-direction: column;
    padding: 50px 0 100px 0;
  }
}

@media (min-width: 815px) and (max-width: 897px) {
  header > figure > img {
    height: 100px;
    width: 150px;
  }

  nav > ul {
    width: 100%;
    justify-content: space-around;
  }

  h1 {
    font-size: 58px;
  }

  main > p {
    font-size: 17px;
  }
  button {
    height: 26px;
    width: 140px;
  }

  section > ul {
    width: 400px;
  }

  .flex-column > ul > li {
    margin-right: 0;
  }

  .flex-column > ul > li > img {
    width: 100px;
  }

  .flex-column > ul > li > p {
    font-size: 15px;
    width: 200px;
    margin: 0;
  }

  .episodes .flex {
    flex-direction: column;
  }

  .episodes {
    background-size: cover;
    height: 130vh;
    padding: 50px;
  }

  .posts {
    width: 80%;
  }

  .posts > p {
    font-size: 24px;
    line-height: 20px;
    padding-left: 0;
    width: 100%;
  }

  .card-text {
    width: 40%;
    height: 80%;
    margin: 0;
  }

  .card > img {
    height: 150px;
    width: 250px;
    border-radius: 12px;
    opacity: 0.7;
  }

  .card-text > p {
    height: 90px;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 15px;
  }

  .card-text > h4 {
    padding: 5px 0 0 15px;
    font-size: 16px;
  }

  .episodes-list {
    overflow-x: hidden;
    height: 600px;
    width: 80%;
    margin: 50px 0;
  }
  .container > section > h2 {
    font-size: 65px;
    text-align: left;
    width: 100%;
    padding: 0 0 80px 0;
  }
  footer .container > section > h2 {
    font-size: 32px;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .container > section > h3 {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }

  .episodes .container,
  .container,
  .flex {
    width: 90vw;
  }

  .flex-column .flex {
    width: 0;
  }

  .flex-column {
    width: 70%;
  }

  figure > img {
    width: 100%;
  }

  footer > .container.flex {
    flex-direction: column;
    padding: 50px 0 100px 0;
  }
}

@media (min-width: 600px) and (max-width: 814) {
  .episodes .container,
  .container,
  .flex {
    width: 90vw;
  }

  .flex-column .flex {
    width: 0;
  }

  .flex-column {
    width: 70%;
  }

  figure > img {
    width: 100%;
  }

  footer > .container.flex {
    flex-direction: column;
    padding: 50px 0 100px 0;
  }
}
